.container{
    margin-top: 5px; 
    background-color: #f9f9f9; 
    margin-left: 2px; 
    margin-right: 2px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 40%;
}

.form-group {
    text-align: left; // Align form elements to the left

    label {
      display: block;
      font-weight: 600;
      color: #555;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="file"] {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    textarea{
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    select{
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
.row{
    padding:1%;
}

.box{
    display: flex;
}