

	<div class="text-center"
		style="color: #333; font-size: 24px; font-weight: bold;">Products</div>
	<div>
		<div>
			<table>
				<thead
					style="background-color: #333; color: white; font-size: 18px;">
					<tr>
						<th>Image</th>
						<th>Product Id</th>
						<th>Name</th>
						<th>Type</th>
						<th>Price</th>
						<th>Sold Qty</th>
						<th>Stock Qty</th>
						<th colspan="2" style="text-align: center">Actions</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td><img src=""
							style="width: 50px; height: 50px;"></td>
						<td><a
							href="./updateProduct.jsp?prodid=<%=product.getProdId()%>">012</a></td>
						<td>test</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>
							<button mat-raised-button color="primary" type="submit">&#9998;</button>
						</td>
						<td>
							<button mat-raised-button color="primary" type="submit">&#9003;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>