<div>
    <div class="container">
        <form class="form-group">
            <div style="font-weight: bold;" class="text-center">
                <h2>Update Product</h2>
            </div>
            <div></div>
            <div>
                <div class="row">
                    <label for="last_name">Product Name</label>
                </div>
                <div class="row">
                    <img src="" style="width: 50px; height: 50px;">
                </div>
            </div>
            <div class="row">
                <label for="last_name">Product Description</label>
                <textarea name="info" id="last_name" required></textarea>
            </div>
            <div>
                <div class="row">
                    <label for="last_name">Unit Price</label> <input type="number"
                        placeholder="Enter Unit Price" name="price"
                        id="last_name" required>
                </div>
                <div class="row">
                    <label for="last_name">Stock Quantity</label> <input type="number"
                        placeholder="Enter Stock Quantity" name="quantity"
                        id="last_name" required>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <button mat-raised-button color="primary" type="submit" class="btn btn-success">Update Product</button>
                </div>
            </div>
        </form>
    </div>
</div>
