<div>
    <div class="container">
        <form class="form-group">
            <div style="font-weight: bold;" class="text-center">
                <h2>Update Product</h2>
            </div>
                <div class="row">
                    <label for="last_name">Product ID</label>
                    <input type="text"
                        placeholder="Enter Product ID to update" name="id"
                        id="product_id" required>
                </div>
            <div class="box">
                <div class="row">
                    <button mat-raised-button color="primary" type="submit" class="btn btn-success">Find Product</button>
                </div>
            </div>
        </form>
    </div>
</div>
